body {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.container {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 100vh; /* Ajusta según tus necesidades */
}

.rotating-text {
    position: absolute;
    width: 100%;
    animation: rotateText 42s infinite; /* 7s por cada sección */
}

@keyframes rotateText {
    0%, 16.67% { transform: translateX(0); }
    33.33%, 50% { transform: translateX(-100%); }
    66.67%, 83.33% { transform: translateX(-200%); }
    100% { transform: translateX(-300%); }
}
